DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your_nextauth_secret_here"
# NEXTAUTH_URL="http://localhost:3000"

CONTACT_RECEIVER_EMAIL="owner-email@gmail.com"

# Gmail SMTP Transport Config
GMAIL_USER="your-gateway-email@gmail.com"
GMAIL_PASS="your-gmail-app-password"

# SendGrid Fallback Config
SENDGRID_API_KEY=""
CONTACT_SENDER_EMAIL="no-reply@jeshuruntech.com"
